<table>
	<tr>
		<td>
		</td>
		<td>$control.typeName</td>
	</tr>
	<tr>
		<td><div id="${control.controlID}_scale" style="width: 100px; height: 200px; text-align: right;"></div></td>
		<td><div id="${control.controlID}_graph" style="width: 720px; height: 200px; text-align: center; border: 1px solid #000000; background-color: white;"></div></td>
	</tr>
	<tr>
		<td>
		</td>
		<td><div id="${control.controlID}_hScale" style="width: 720px;"></div></td>
	</tr>
</table>
