<table width="100%">
	<tr>
		<td width="200">$insert.control("btGenerate")</td>
		<td>Statistics are taken from the TraceHistory, if it is enabled.</td>
	</tr>
</table>
<br>

$insert.control("traceGraphTotal")
$insert.control("traceGraphAvg")
$insert.control("traceGraphPeak")
$insert.control("traceGraphCnt")
