<div style="border-top: 1px solid #E0E0E0; padding-top: 3px; clear: both;">
	<div style="float:left; margin:5px 0 7px 5px;color:#2200C1;cursor: pointer;font-weight:bold;font-size: 11pt" onclick="$control.container.container.createActionURL('loadProfile', '')">
		Load Profile
	</div>
	<div style="float: right; margin: 3px;">$insert.control("btCancel")</div>
</div>