<table width="100%" cellspacing="0" cellpadding="0" border="0">

	<colgroup>
		<col/>
		<col width="4"/>
		<col width="70"/>
		<col width="60"/>
	</colgroup>
	
	<tr>
		<td>$insert.control($control.entityInfoName)</td>
		<td>&nbsp;</td>
		<td align="right">$insert.control($control.btnSelectName)</td>
		<td align="right">$insert.control($control.btnClearName)</td>
	</tr>
</table>