<table cellpadding="5" border="0" width="100%">
	<tr><td>$insert.control("buttonAddAll")</td></tr>
	<tr><td>$insert.control("buttonRemoveAll")</td></tr>
	<tr><td>$insert.control("buttonAdd")</td></tr>
	<tr><td>$insert.control("buttonRemove")</td></tr>
	<tr><td>$insert.control("buttonUp")</td></tr>
	<tr><td>$insert.control("buttonDown")</td></tr>
</table>
