<table>
	<tr height="27">
		<td valign="top">$insert.control("logic")</td>
	</tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0" width="230">
				<tr>
					<td>$insert.control("inpDateFrom")</td>
					<td>$insert.control("lblTo")</td>
					<td align="right">$insert.control("inpDateTo")</td>
				</tr>
			</table>
		</td>
	</tr>
</table>