<div class="simplePanel roundAll">
	<div class="panelSection">$insert.control("selector")</div>
	<div class="panelContent">You can change the visibility of the columns with the checkbox and the order by simply dragging the entries with the mouse.</div>
</div>