#set($first = "1")
#foreach($crumb in $control.getBreadCrumbs())
	#if ($first == "1")
		#set($first = "0")
		#* $control.getPathTitle() *#
	#else &raquo; #end
	<a href="$control.createActionURL("navigate", $crumb)">$control.getCrumbTitle($crumb)</a>
#end

<script>
#if($control.getBreadCrumbs().size() > 0)
mainMenu.showDataLostMessage = true;
#else
mainMenu.showDataLostMessage = false;
#end
</script>