#set($fixWidth = $control.fixedWidth)
<div #if($fixWidth != 0) style="width: ${fixWidth}px; margin: 0 auto;" #end>
	<div class="contentHeader roundAll">
		<div class="pageTitle"><h1>$control.title</h1></div>
		<div class="pageSubtitle">$control.subtitle</div>
		<div class="pulseLogo"></div>
	</div>
	<div class="contentBody">
	    $content.render()
	</div>
</div>