#if($control.getQuickSearchControlName() != "")
<div class="panelFilter">
	$insert.control($control.getQuickSearchControlName())
</div>
#end
<div class="panelSection">
	$insert.control("entityTable")
</div>

