<div class="wizardHeader asdasd">
<div class="wizardHeaderBox">
$insert.control("lblPageTitle")<br>
&nbsp;&nbsp;$insert.control("lblPageSubTitle")
</div>
</div>
<div style="overflow: overlay;">
$insert.control("errorWarning")
$insert.control("pages")
</div>
<hr>
<div class="wizardButtonBar">
<div class="wizardButtonBarBox">
$insert.control("btBack") $insert.control("btNext") &nbsp;&nbsp; $insert.control("btFinish") $insert.control("btAbort")
</div>
</div>
