<div class="contentPanel">
	<div class="panelHeader roundTop">
		$insert.control("toolbar")
	</div>
	<div class="panelBody roundBottom">
		$insert.control("staticMessages")		
		$insert.control("editor")
	</div>
</div>