<table width="100%" border="0">
<tr>
	<td>Select a File to upload to the System.</td>
</tr>
<tr>
	<td style="background-color: #ffffff; border: 1px solid #808080;">$insert.control("error")</td>
</tr>
<tr>
	<td style="background-color: #ffffff; border: 1px solid #808080;">$insert.control("fileUpload")</td>
</tr>
<tr>
	<td align="right"><hr>
	$insert.control("Finish") &nbsp; $insert.control("Abort")</td>
</tr>
</table>	
	











