package ${package}.entities.impl;

/**
#if ($!entity.description != "")
 * $!{entity.description} 
#else
 * ${entity.name} implementation class.
#end
 */
public class ${entity.name} extends ${entity.name}Base {

}
