<?xml version="1.0" encoding="UTF-8"?>
<entities>
	<entity class="${package}.entities.I${entity.name}" autoLoadProperties="true" history="false" defaultDisplayProperty="${entity.defaultDisplayProperty}">
#if("$!entity.defaultDisplayProperty" != "")
		<title>${${entity.defaultDisplayProperty}}</title>
#end
		
#foreach($prop in $entity.properties)
#if($prop.type == "IPicklistEntry")
#if("$!prop.picklistId" == "")
	#set($pid = "${entity.name}.${prop.name}")
#else
	#set($pid = $prop.picklistId)
#end
		<property name="$prop.name" picklistId="$pid">
#foreach($pe in $prop.picklistEntries)
		     <picklistentry #if($!pe.key != "") key="$pe.key" #end #if($!pe.order != "") index="$!pe.order" #end>
		         <name lang="en">$pe.defaultTitle.replaceAll("&", "&amp;")</name>
		     </picklistentry>
#end
		</property>
#else
		<property name="$prop.name" #if($!prop.length != "" && $!prop.length != "max")maxLength="$prop.length"#end #if($prop.required)required="true" #end/>
#end
#end

	</entity>
</entities>
