<?xml version="1.0"?>
<!DOCTYPE hibernate-mapping PUBLIC
    "-//Hibernate/Hibernate Mapping DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-mapping-3.0.dtd">

<hibernate-mapping>

	<class name="${package}.entities.impl.${entity.name}" table="${entity.tableName}">
	
		 <id name="id" type="long">
            <column name="${entity.idColumn}" not-null="true"/>
            <generator class="native"/>
        </id>

		<version column="VERSION" name="version" type="long"/>

 		<property name="deleted" column="DELETED" not-null="true"/>
 
        <property name="downloadVersion" type="long">
        	<column name="DOWNLOAD_VERSION"/>
        </property>
        <property name="serverEntityId" column="SRVENTITY_ID" not-null="true" type="int"/>
		<property name="createdAt" type="timestamp">
			<column name="CREATED_AT" />
		</property>
		<property name="changed" type="boolean">
			<column name="CHANGED" />
		</property>
		<property name="createdFrom">
			<column name="CREATED_FROM" length="50" />
		</property>
		<property name="lastModifiedFrom">
			<column name="LASTMODIFIED_FROM" length="50" />
		</property>
		<property name="lastModifiedAt" type="timestamp">
			<column name="LASTMODIFIED_AT" />
		</property>
		
		<!-- Entity fields -->
      
#foreach($prop in $entity.properties)
#if($prop.basicType)
		<property name="$prop.name" column="$prop.columnName" #if($!prop.length != "") #if($!prop.length == "max")  type="org.hibernate.type.TextType" #else length="$prop.length"#end #end/>
#else
#if($prop.type == "IPicklistEntry")
	    <many-to-one name="$prop.name" class="de.xwic.appkit.core.model.entities.impl.PicklistEntry" column="$prop.columnName" not-null="false" lazy="false"/>
#elseif($prop.type == "Mitarbeiter")
	    <many-to-one name="$prop.name" class="de.xwic.appkit.core.model.entities.impl.Mitarbeiter" column="$prop.columnName" not-null="false" lazy="false"/>
#else
	    <many-to-one name="$prop.name" class="${package}.entities.impl.${prop.type}" column="$prop.columnName" not-null="false" lazy="false"/>
#end
#end
#end
      
		<!-- End entity fields -->
		
	</class>
</hibernate-mapping>
	