<table width="100%" border="0">
<tr>
	<td colspan="2">Please enter a comment:</td>
</tr>
<tr><td colspan="2">$insert.control("error")</td></tr>
<tr>
	<td valign="top">$insert.control("lblComment")</td>
	
	<td style="background-color: #ffffff; border: 1px solid #808080;">$insert.control("comment")</td>
</tr>
<tr>
	<td colspan="2" align="right"><hr>
	$insert.control("Finish") &nbsp; $insert.control("Abort")</td>
</tr>
</table>