<div style="border-top: 1px solid #E0E0E0; padding-top: 3px; clear: both;">
	<div style="float: right; margin: 3px;">$insert.control("btCancel")</div>
	<div style="float: right; margin: 3px;">$insert.control("btOk")</div>
</div>