<div class="content-panel" style="padding-top: 10px">
	The report has been generated.
	Click <a href="#" title="Click here to download the File." target="_self" 
		onClick="javascript:window.location = '$control.container.container.container.getDownloadURL()'" style="font-weight: bold; color: blue;">here</a> to download the file.
</div>