<table cellspacing="5" width="100%">
<tr>
	<td colspan="3">$insert.control("selectorControl")</td>
</tr>
<tr>
	<td align="right">$insert.control("buttonOk")</td>
	<td width="100">$insert.control("buttonSaveNew")</td>
	<td align="left">$insert.control("buttonClose")</td>
</tr>
</table>