<div class="contentPanel">
	<div class="panelHeader roundTop">
		$insert.control("toolbar")
		$insert.control("errorWarning")
	</div>
	<div class="panelBody roundBottom">
		#if($control.getQuickFilterPanelName() != "")
		<div class="panelFilter">
			$insert.control($control.getQuickFilterPanelName())
		</div>
		#end
		<div class="panelSection">
			$insert.control("entityTable")
		</div>
	</div>
</div>