<div class="loginbox">
<div class="title">
  $insert.control("title")
</div>
$insert.control("errorInfo")
<div class="body">
  <table width="250">
    <tr>
      <td width="100">Username</td>
      <td>$insert.control("inpUsername")</td>
    </tr>
    <tr>
      <td width="100">Password</td>
      <td>$insert.control("inpPassword")</td>
    </tr>
  </table>
  <p align="center">$insert.control("btSubmit")</p>
</div>
</div>